body{
    background: #000 url("wood-background1.jpg") repeat;
    width: 90%;
    position: static;
}

header, footer, aside, nav, article{
    display: block;
}

header{
    background-color: rgb(249, 153, 154);
    left:50px;
}

#Introduction{
    margin-top: 10px;
    padding: 44px;
    width: 90%;
}

nav {
    background-color:#fff;
}

#mixContent{
    display:table;
    background-color: #fff;
    width: 90%
}

#mainContent{
    display: table-cell;
    padding-right: 100px;
}

aside{
    display:table-cell;
}