body{
    background: #000 url("wood-background1.jpg") repeat;

    position: absolute;
}

header, footer, aside, nav, article{
    display: block;
    width: 100%;
}

#intro h1{

}

#intro{
    background-color:rgb(249, 153, 154);
    margin-top: 10px;
    padding: 10px;
    background-size: 100%;
    width: 720px;
}

nav {
    position: absolute;
    width: 100%;
    background-color:#fff;
}

#mixContent{
    display:table;
    background-color: #fff;
    width: 620px;
}

#mainContent{
    display: table-cell;
}

aside{
    display:table-cell;
    width: 300px;
}