html, body {
    height: 100%;
    background-image: url(tumblr_static_background2.jpg);
}

p{
    font-family: Arial, sans-serif;
}

header, footer, nav{
    display:block;
}

section{
    display:block;
    width: 100%;
}


#wrapperHeader{
    background-image: url(bglogo.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}


nav{
    margin-bottom: 0px;
}

h1{
    color: #006000;
    text-align: center;
}
.left-side{
    background-color: #cccccc;
}

.row{
    overflow: hidden;
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.right-side{
    background-color: white;
}

.right-side img{
    display: block;
    margin: auto;
}

.fa-plus:hover{
    color: #f08a24;
    text-decoration: none;
}

.fa-minus:hover{
    color: #f08a24;
    text-decoration: none;
}

section p, h1, h3{
    margin: 10px 0 0 10px;
}

#footer-nav{
    background-color: #3E4746;
    height: 50px;
    width: 100%;
}


footer p{
    text-align: center;
    color: white;
}

.faqHeader{
    color: #f04124;
    font-size: 20px;
}
